<p>Dear <%= @customer.first_name %> <%= @customer.last_name %>,</p>

<p>You're one step away from registering on a platform.</p>

<p>Click the link to confirm your email.</p>

<p>CONFIRMATION LINK</p>

<p>Please contact <%= AdditionalData::SUPPORT_EMAIL %> to get your questions answered.</p>