<p>Dear <%= @customer.first_name %> <%= @customer.last_name %>,</p>

<p>You told us you forgot your password. If you really did, please click the link below to reset the password.</p>

<p>RESET LINK</p>

<p>If you didn't mean to reset your password, please ignore this email and your password doesn't change.</p>

<p>Please contact <%= AdditionalData::SUPPORT_EMAIL %> to get your questions answered.</p>