<p>Dear <%= @resource.first_name %> <%= @resource.last_name %>,</p>

<p>You're one step away from registering on a platform.</p>

<p>Click the link to confirm your email.</p>

<p><%= link_to 'Confirmation link', user_confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Please contact <%= AdditionalData::SUPPORT_EMAIL %> to get your questions answered.</p>
